
@{
    ViewData["Title"] = "MovieDetailView";
}
<h1>List of Movies</h1>

<div class="container">
    <table class="table">
        <tr>
            <th>Title</th>
            <th>Genre</th>
            <th>Release Date</th>
            <th>Rating</th>
        </tr>
        @foreach (var movie in Model.Movies)
            {
    <tr>
        <td>@movie.Title</td>
        <td>@movie.Name</td>
        <td>@movie.ReleaseDate</td>
        <td>@string.Format("{0}{1}",@movie.Director.FirstName, @movie.Director.LastName)</td>
        @for (int i=0;i < movie.Rating; i++)
                {
                    <span class="glyphicon glyphicon-star-empty"></span>
                }
    </tr>
            }
    </table>
</div>